
<script>
$(function() {
  // $('#classBtn').on('click', function(event) {
  //   event.preventDefault();
  // })
  $('.payments').show();

  var handler = StripeCheckout.configure({
  key: 'pk_test_hD5PFgoKwJUUZo6g5yWvZbkE',
  token: function(token) {
    // Use the token to create the charge with a server-side script.
    // You can access the token ID with `token.id`
  }
  });

  $(document).on('click', '#classBtn',function(e) {
    e.preventDefault()
    console.log('click')
    // Open Checkout with further options

    handler.open({
      name: '<%= Business.find(params[:business]).name %>',
      currency: "cad",
      amount: 500,
      closed: function(){ $('#sign-upClass').submit() }
    });
  });

// Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
})

</script>
<main>
  <div class="container-content">
  <br>
    <h3 class="center flow-text">Let's Sign You Up For A Class</h3>
    <div class="container">
      <%= form_tag(register_class_path, {:id => "sign-upClass"}) do %>
       <%= hidden_field :business_id, :value => params[:business] %> 
        <div class="form-group">
          <%= label_tag 'name', 'Name' %>
          <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Name' %>
        </div>
        <div class="form-group">
          <%= label_tag 'phone_number', 'Phone Number' %>
          <%= text_field_tag 'phonenumber', nil, class: 'form-control', placeholder: 'Your Phone number' %>
        </div>
        <div class="form-group">
          <%= label_tag 'email', 'Email' %>
          <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Your Email Address' %>
        </div>
        <div class="form-group">
          <%= label_tag 'class_date', 'Class Date' %>
          <%= date_field 'class_date', nil, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag 'class_name', 'Class Name' %>
          <%= text_field_tag 'class_name', nil, class: 'form-control', placeholder: 'Which class do you want to take?' %>
        </div>
        <div class="form-group">
          <%= label_tag 'comments', 'Comments' %>
          <%= text_field_tag 'comments', nil, class: 'form-control', rows: 4, placeholder: 'Anything else we should know?' %>
         </div>
         <br>
         <button class='btn btn-default btn-about pull-right' id='classBtn'>Submit</button>
         <br>
      <% end %>
    </div>
  </div>
  <div class="stripePayment">

  </div>
</main>