<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Almanak</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text">Your Local Directory</h5>
      </div>
      <div class="row center">
        <li class="dropdown-button btn btn-large waves-effect waves-light teal lighten-1 hoverable" data-activates='dropdown2'>Find Local Business</li>
          <ul id='dropdown2' class='dropdown-content'>
            <li><%= link_to 'Yoga Studios', businesses_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Coffee Shops', businesses_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Dev Bootcamps', businesses_path %></li>
          </ul>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax">
     <video class="hero_video" class="video-container no-controls" preload="auto" loop="loop" autoplay="autoplay">
        <source src="/assets/yoga_shitty_hd.webm">
     </video>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-image-flash-on"></i></h2>
          <h5 class="center">Speeds up management</h5>
          <p class="light">We did most of the heavy lifting for you to provide a veneer that you can build off of. Additionally, you can use this unique tool to interact with your customers in a streamlined fashion.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-social-group"></i></h2>
          <h5 class="center">User Experience Focused</h5>
          <p class="light">By utilizing elements and principles of minimalism, we were able to create a framework that incorporates components that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Easy to work with</h5>
          <p class="light">We have provided a simple interface as well as specific guidelines to help business owners get started. We are also always open to feedback and can answer any questions anyone may have about Almanak.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <h4 class="header col s12 light white-text flow-text">Simplicity Is Everything</h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="<%= asset_path('background1.jpg') %>" alt="Unsplashed background img 3"></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-action-invert-colors teal-text"></i></h3>
        <h4>About Us</h4>
        <p class="center-align light">We are a team of Lighthouse Labs' students working on this project.</p>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <h4 class="header col s12 light white-text flow-text">Your Search Ends Here</h4>
        <h4 class="header col s12 light white-text flow-text">Find What You're Looking For</h4>

      </div>
    </div>
  </div>
  <div class="parallax"><img src="<%= asset_path('background3.jpg') %>" alt="Unsplashed background img 3"></div>
</div>