<main>
<%= form_for [:admin, @user] do |f| %>
  <% if @user.errors.any? %>
    <div>
      <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label "email" %>
    <%= f.text_field(:email) %>
  </div>
  <div>
    <%= f.label "firstname", "First Name" %><br>
    <%= f.text_field(:first_name) %>
  </div>
  <div>
    <%= f.label "lastname", "Last Name" %><br>
    <%= f.text_field(:last_name) %>
  </div>
   <div>
    <%= f.label "name", "Full name" %><br>
    <%= f.text_field(:name) %>
  </div>
  <div>
    <%= f.label "user_type", "User Type" %><br>
    <%= f.select(:user_type,["customer", "owner"], {}, {:class => 'browser-default'}) %><br>
  </div>
  <div><%= f.submit "Submit" %></div>
<% end %>

</main>
