<main>
  <div class="cont
  ainer">
    <h3>Admin User Management 
    </h3>
    <%= paginate @users %>
    <% @users.each do |user| %>
      <div class = "user">
      <%= user.first_name  %> | <%= user.last_name %> | <%= user.email %> | <%= link_to "Edit" , edit_admin_user_path(user) %> | <%= link_to "Delete", admin_user_path(user), method: :delete %> 
      </div>
    <% end %>
    <br>
    <%= link_to "Create User", new_admin_user_path %>
  </div>
</main>