<main>
  <div class="container">
    <h3 class="flow-text">Admin User Management</h3>
    <%= paginate @users %>
    <table class="hoverable bordered z-depth-1">
      <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
      </thead>
      <% @users.each do |user| %>
      <tbody>
        <% if user.first_name.to_s == '' %>
          <tr>
            <td><%= user.name  %></td>
            <td><%= user.email %></td>
            <td><%= link_to "Edit" , edit_admin_user_path(user), :class => "download-button btn waves-effect waves-light teal lighten-1 hoverable"  %></td>
            <td><%= link_to "Delete", admin_user_path(user), method: :delete , :class => "download-button btn waves-effect waves-light teal lighten-1 hoverable" %></td>
          </tr>  
        <% else %>
          <tr>
            <td><%= user.first_name%> <%= user.last_name%></td>
            <td><%= user.email %></td>
            <td><%= link_to "Edit" , edit_admin_user_path(user), :class => "download-button btn waves-effect waves-light teal lighten-1 hoverable"  %></td>
            <td><%= link_to "Delete", admin_user_path(user), method: :delete , :class => "download-button btn waves-effect waves-light teal lighten-1 hoverable" %></td>
          </tr>   
        <% end %>
      </tbody>
      <% end %>
    </table>
    <br>
    <%= link_to "Create User", new_admin_user_path, :class => "download-button btn-large waves-effect waves-light teal lighten-1 hoverable" %>
    <br>
  </div>
</main>