<header>
<nav class="teal lighten-1">
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <h4><a href="/" class="logo">
        <!-- <img src="/img/logo.png"> -->
          <img src="<%= asset_path('book.png') %>">
          Almanak
        </a></h4>
      </div>
      <div class="col s12 m9">
        <div class="right">
          <% if current_user %>
            <ul>
              <li><%= current_user.name %></li>
              <li class="avatar_thumbnail"><%= image_tag current_user.photo, alt: current_user.name %></li>
              <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="right-icons">
              <li><%= link_to image_tag('twitter.png'), '/auth/twitter' %></li>
              <li><%= link_to image_tag('facebook.png'), '/auth/facebook' %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
<small>
  <% if current_user %>
    <% if current_user.user_type == "superuser" %>
      Signed in as <%= current_user.full_name %> (<%= link_to "Log out", session_path("current"), method: :delete %>) (<%= link_to "Admin User Management", admin_users_path %>)
    <% else %>
      Signed in as <%= current_user.full_name %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
    <% end %>
  <% else %>
    <%= link_to "Log in", login_path %> | <%= link_to "Register", register_path %>
  <% end %>
</small>
</header>