<header>
<nav>
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <h4><a href="/" class="logo">
        <!-- <img src="/img/logo.png"> -->
          Almanak
        </a></h4>
      </div>
      <div class="col s12 m9">
        <div class="right">
          <ul>
            <li><a href="/login">Log In</a></li>
            <li><%= link_to 'Twitter', '/auth/twitter' %></li>
            <li><a href="/register">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<small>
  <% if current_user %>
    <% if current_user.user_type == "superuser" %>
      Signed in as <%= current_user.full_name %> (<%= link_to "Log out", session_path("current"), method: :delete %>) (<%= link_to "Admin User Management", admin_users_path %>)
    <% else %>
      Signed in as <%= current_user.full_name %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
    <% end %>
  <% else %>
    <%= link_to "Log in", login_path %> | <%= link_to "Register", register_path %>
  <% end %>
</small>
</header>