<header>
<nav class="teal lighten-1 navbar-fixed" role="navigation">
  <div class="nav-wrapper">
    <div class="row">
      <div class="almanak-logo col s12 m1 left">
        <h4><a href="/" class="logo">
          <img class="logo-hover" src="<%= asset_path('book2.png') %>">
        </a></h4>
      </div>
      <div class="col sm12 m5 input-field">
          <%= form_tag(businesses_path, method: "get", :class => "nav-search")  do %> 
            <%= text_field_tag :search, params[:search], placeholder: "Search", class:"nav-search-text-field"%>

          <% end %>
      <!-- <i class="mdi-action-search"></i> -->
      </div>
      
      <div class="col s12 m4 right">
        <div id="nav-mobile" class="right">
          <% if current_user %>
            <ul>
            <!-- Twitter and facebook save names differently -->
            <% if current_user.full_name == " " %>
              <% if current_user && current_user.user_type == "superuser" %>
                <li class="avatar-name dropdown-button" data-activates='dropdown1'>Admin : <%= current_user.name %> </li>
                <ul id='dropdown1' class='dropdown-content'>
                  <li><%= link_to 'Users', admin_users_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Businesses', admin_businesses_path %></li> 
                </ul>
              <% else %>
                <li class="avatar-name"><%= current_user.name %> </li>  
              <% end %>
            <% else %>
              <li class="avatar-name"><%= current_user.full_name %>
            <% end %>
              <li class="avatar_thumbnail"><%= image_tag current_user.photo, alt: current_user.name %></li>
              <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="right">
              <li>Login With</li>
              <!-- link_to image_tag('facebook1.png') -->
              <li class="tw-fb-logo"><%= link_to image_tag('twitter.png'), '/auth/twitter' %></li>
              <li class="tw-fb-logo"><%= link_to image_tag('facebook.png'), '/auth/facebook' %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
</header>
