<header>
<nav class="teal lighten-1 navbar-fixed" role="navigation">
  <div class="nav-wrapper container">
    <div class="row">
      <div class="almanak-logo col s12 m1 left">
        <h4><a href="/" class="logo">
          <img class="logo-hover" src="<%= asset_path('book.png') %>">
        </a></h4>
      </div>
      <div class="col sm12 m7 searchBar">
          <%= form_tag(businesses_path, method: "get") do %> 
            <%= text_field_tag :search, params[:search], class:"searchText"%>
          <% end %>
      </div>

      <div class="col s12 m4 right">
        <div id="nav-mobile" class="right">
          <% if current_user %>
            <ul>
              <li class="avatar-name"><%= current_user.name%> </li>
              <li class="avatar_thumbnail"><%= image_tag current_user.photo, alt: current_user.name %></li>
              <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="right-icons">
              <li>Login With</li>
              <!-- link_to image_tag('facebook1.png') -->
              <li><%= link_to 'Twitter', '/auth/twitter' %></li>
              <li><%= link_to 'Facebook', '/auth/facebook' %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
</header>
